table,th,td {border:1px solid whitesmoke}
body{
    background-image: url("https://peelandstickwallmurals.com/cdn/shop/products/Color_9_1200x.png?v=1647499331");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

} 
body{text-decoration-color: aliceblue;}